<!--
# we can access the variables we declared in models/postoffice.rb
# body[:name]  = name is accessed by @name
# body[:email] = email is accessedby @email
-->

<p>
  Welcome to whatever 
  <i>
    <%#= @name %>
  </i>. 
</p>
      
 
<p>
  The address we have on file for you is 
  <b>
    <%#= @email %>
  </b>
  , please let us know if this is incorrect.
</p>