Dear <%= @name %>,
Thank you for expressing intrest in the Pakalana Inn. 

<%= @email %> has been added to the grand opening notify list. You will be contacted when we launch the website. You can visit 

    http://www.pakalanainn.com/unsubscribe?u<%= "=#{@email}" %>
    
to remove yourself from our list. See you soon!

Sincerely,
  
  Neil Erickson
  Owner / Innkeeper
  Pakalana Inn   
